.about {
  background-image: url("D:\Studies\Projects\Portfolio\portfolio\src\assets\background.jpg");
    font-size: 1.1em;
    color: White;
    font-family:'Times New Roman', Times, serif
  }
  
  .profile {
    max-width: 18em;
  }
  
  .my-details {
    background-color: rgba(15, 22, 27, 0.747);
  }
  
  .aboutme {
      color: White;
      text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }